In [84]:
import pandas as pd
import numpy as np

In [85]:
PATH = 'c:\\Users\\calvin\\Documents\\GitHub\\springboard\\champions_league_luck'

In [86]:
games = pd.read_csv(PATH + '/data/interim/games2.csv', index_col=0, dtype={'rnd':'category', 'day':'category', 'season': 'category'}, parse_dates=['date'])

In [87]:
games.head()

,season,rnd,date,day,notes,wk,h_team,h_country,h_score,a_team,a_country,a_score,h_pens,a_pens,h_coef,a_coef,med_coef
993,2000-2001,First group stage,2000-09-12,Tue,NaN,1,Sporting CP,pt,2,Real Madrid,es,2,0,0,30.274,99.799,53.963
994,2000-2001,First group stage,2000-09-12,Tue,NaN,1,Lyon,fr,3,Heerenveen,nl,1,0,0,60.363,24.333,53.963
995,2000-2001,First group stage,2000-09-12,Tue,NaN,1,Galatasaray,tr,3,Monaco,fr,2,0,0,51.925,75.363,53.963
996,2000-2001,First group stage,2000-09-12,Tue,NaN,1,Rangers,sco,5,Sturm Graz,at,0,0,0,32.250,26.250,53.963
997,2000-2001,First group stage,2000-09-12,Tue,NaN,1,Sparta Prague,cz,0,Arsenal,eng,1,0,0,43.562,52.727,53.963

In [88]:
games.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2628 entries, 993 to 3582
Data columns (total 17 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   season     2628 non-null   category
 1   rnd        2628 non-null   category
 2   date       2628 non-null   datetime64[ns]
 3   day        2628 non-null   category
 4   notes      509 non-null    object
 5   wk         2628 non-null   int64
 6   h_team     2628 non-null   object
 7   h_country  2628 non-null   object
 8   h_score    2628 non-null   int64
 9   a_team     2628 non-null   object
 10  a_country  2628 non-null   object
 11  a_score    2628 non-null   int64
 12  h_pens     2628 non-null   int64
 13  a_pens     2628 non-null   int64
 14  h_coef     2628 non-null   float64
 15  a_coef     2628 non-null   float64
 16  med_coef   2628 non-null   float64
dtypes: category(3), datetime64[ns](1), float64(3), int64(5), object(5)
memory usage: 316.4+ KB

In [89]:
# lets add the coef difference as an absolute value

games['coefdiff'] = games['h_coef'] - games['a_coef']

In [90]:
games.head()

,season,rnd,date,day,notes,wk,h_team,h_country,h_score,a_team,a_country,a_score,h_pens,a_pens,h_coef,a_coef,med_coef,coefdiff
993,2000-2001,First group stage,2000-09-12,Tue,NaN,1,Sporting CP,pt,2,Real Madrid,es,2,0,0,30.274,99.799,53.963,-69.525
994,2000-2001,First group stage,2000-09-12,Tue,NaN,1,Lyon,fr,3,Heerenveen,nl,1,0,0,60.363,24.333,53.963,36.030
995,2000-2001,First group stage,2000-09-12,Tue,NaN,1,Galatasaray,tr,3,Monaco,fr,2,0,0,51.925,75.363,53.963,-23.438
996,2000-2001,First group stage,2000-09-12,Tue,NaN,1,Rangers,sco,5,Sturm Graz,at,0,0,0,32.250,26.250,53.963,6.000
997,2000-2001,First group stage,2000-09-12,Tue,NaN,1,Sparta Prague,cz,0,Arsenal,eng,1,0,0,43.562,52.727,53.963,-9.165

In [91]:
# I want to add total goals as well
games['goalstotal'] = games['h_score'] + games['a_score']
games.head()

,season,rnd,date,day,notes,wk,h_team,h_country,h_score,a_team,a_country,a_score,h_pens,a_pens,h_coef,a_coef,med_coef,coefdiff,goalstotal
993,2000-2001,First group stage,2000-09-12,Tue,NaN,1,Sporting CP,pt,2,Real Madrid,es,2,0,0,30.274,99.799,53.963,-69.525,4
994,2000-2001,First group stage,2000-09-12,Tue,NaN,1,Lyon,fr,3,Heerenveen,nl,1,0,0,60.363,24.333,53.963,36.030,4
995,2000-2001,First group stage,2000-09-12,Tue,NaN,1,Galatasaray,tr,3,Monaco,fr,2,0,0,51.925,75.363,53.963,-23.438,5
996,2000-2001,First group stage,2000-09-12,Tue,NaN,1,Rangers,sco,5,Sturm Graz,at,0,0,0,32.250,26.250,53.963,6.000,5
997,2000-2001,First group stage,2000-09-12,Tue,NaN,1,Sparta Prague,cz,0,Arsenal,eng,1,0,0,43.562,52.727,53.963,-9.165,1

In [92]:
# in fixing the cell code to make sure finals didn't have the winner as 'tie'True
# i found there was a mistake in the data. I am going to manually add the correct the penalties for the final in 2000-2001
games.loc[(games.rnd == 'Final') & (games.season == '2000-2001'),'h_pens'] = 5
games.loc[(games.rnd == 'Final') & (games.season == '2000-2001'),'a_pens'] = 4
games.loc[(games.rnd == 'Final') & (games.season == '2000-2001')]

,season,rnd,date,day,notes,wk,h_team,h_country,h_score,a_team,a_country,a_score,h_pens,a_pens,h_coef,a_coef,med_coef,coefdiff,goalstotal
1149,2000-2001,Final,2001-05-23,Wed,Required Extra Time,0,Bayern Munich,de,1,Valencia,es,1,5,4,103.201,69.799,53.963,33.402,2

In [93]:
conds = [
    games.h_score > games.a_score,
    games.h_score < games.a_score,
    (games.rnd == 'Final') & (games.h_score == games.a_score) & (games.h_pens > games.a_pens),
    (games.rnd == 'Final') & (games.h_score == games.a_score) & (games.h_pens < games.a_pens)
]

values = [games.h_team, games.a_team, games.h_team, games.a_team]

games['game_winner'] = np.select(conds, values, 'tie')

In [94]:
# Part of what we are trying to find is away goal luck, which means we need to figure out how to combine home and away matches.
# i think i'll need a col with the teams invovled
def teamorder(x):
    if (x.h_coef < 1) or (x.a_coef < 1) or (x.h_coef == x.a_coef):
        if x.h_team < x.a_team:
            return x.h_team + "," + x.a_team
        else:
            return x.a_team + "," + x.h_team
    if x.h_coef > x.a_coef:
        return x.h_team + "," + x.a_team
    if x.h_coef < x.a_coef:
        return x.a_team + "," + x.h_team

games['teams'] = games.apply(lambda x: teamorder(x), axis=1)

In [95]:

# First I want to look at how each season is structured because they have changed the format a few times. 
uniqueGroups = games.groupby('season')['rnd'].unique()
for idx, v in uniqueGroups.items():
    print(idx, v)

2000-2001 ['First group stage', 'Second group stage', 'Quarter-finals', 'Semi-finals', 'Final']
Categories (7, object): ['Final', 'First group stage', 'Group stage', 'Quarter-finals', 'Round of 16', 'Second group stage', 'Semi-finals']
2001-2002 ['First group stage', 'Second group stage', 'Quarter-finals', 'Semi-finals', 'Final']
Categories (7, object): ['Final', 'First group stage', 'Group stage', 'Quarter-finals', 'Round of 16', 'Second group stage', 'Semi-finals']
2002-2003 ['First group stage', 'Second group stage', 'Quarter-finals', 'Semi-finals', 'Final']
Categories (7, object): ['Final', 'First group stage', 'Group stage', 'Quarter-finals', 'Round of 16', 'Second group stage', 'Semi-finals']
2003-2004 ['Group stage', 'Round of 16', 'Quarter-finals', 'Semi-finals', 'Final']
Categories (7, object): ['Final', 'First group stage', 'Group stage', 'Quarter-finals', 'Round of 16', 'Second group stage', 'Semi-finals']
2004-2005 ['Group stage', 'Round of 16', 'Quarter-finals', 'Semi-finals', 'Final']
Categories (7, object): ['Final', 'First group stage', 'Group stage', 'Quarter-finals', 'Round of 16', 'Second group stage', 'Semi-finals']
2005-2006 ['Group stage', 'Round of 16', 'Quarter-finals', 'Semi-finals', 'Final']
Categories (7, object): ['Final', 'First group stage', 'Group stage', 'Quarter-finals', 'Round of 16', 'Second group stage', 'Semi-finals']
2006-2007 ['Group stage', 'Round of 16', 'Quarter-finals', 'Semi-finals', 'Final']
Categories (7, object): ['Final', 'First group stage', 'Group stage', 'Quarter-finals', 'Round of 16', 'Second group stage', 'Semi-finals']
2007-2008 ['Group stage', 'Round of 16', 'Quarter-finals', 'Semi-finals', 'Final']
Categories (7, object): ['Final', 'First group stage', 'Group stage', 'Quarter-finals', 'Round of 16', 'Second group stage', 'Semi-finals']
2008-2009 ['Group stage', 'Round of 16', 'Quarter-finals', 'Semi-finals', 'Final']
Categories (7, object): ['Final', 'First group stage', 'Group stage', 'Quarter-finals', 'Round of 16', 'Second group stage', 'Semi-finals']
2009-2010 ['Group stage', 'Round of 16', 'Quarter-finals', 'Semi-finals', 'Final']
Categories (7, object): ['Final', 'First group stage', 'Group stage', 'Quarter-finals', 'Round of 16', 'Second group stage', 'Semi-finals']
2010-2011 ['Group stage', 'Round of 16', 'Quarter-finals', 'Semi-finals', 'Final']
Categories (7, object): ['Final', 'First group stage', 'Group stage', 'Quarter-finals', 'Round of 16', 'Second group stage', 'Semi-finals']
2011-2012 ['Group stage', 'Round of 16', 'Quarter-finals', 'Semi-finals', 'Final']
Categories (7, object): ['Final', 'First group stage', 'Group stage', 'Quarter-finals', 'Round of 16', 'Second group stage', 'Semi-finals']
2012-2013 ['Group stage', 'Round of 16', 'Quarter-finals', 'Semi-finals', 'Final']
Categories (7, object): ['Final', 'First group stage', 'Group stage', 'Quarter-finals', 'Round of 16', 'Second group stage', 'Semi-finals']
2013-2014 ['Group stage', 'Round of 16', 'Quarter-finals', 'Semi-finals', 'Final']
Categories (7, object): ['Final', 'First group stage', 'Group stage', 'Quarter-finals', 'Round of 16', 'Second group stage', 'Semi-finals']
2014-2015 ['Group stage', 'Round of 16', 'Quarter-finals', 'Semi-finals', 'Final']
Categories (7, object): ['Final', 'First group stage', 'Group stage', 'Quarter-finals', 'Round of 16', 'Second group stage', 'Semi-finals']
2015-2016 ['Group stage', 'Round of 16', 'Quarter-finals', 'Semi-finals', 'Final']
Categories (7, object): ['Final', 'First group stage', 'Group stage', 'Quarter-finals', 'Round of 16', 'Second group stage', 'Semi-finals']
2016-2017 ['Group stage', 'Round of 16', 'Quarter-finals', 'Semi-finals', 'Final']
Categories (7, object): ['Final', 'First group stage', 'Group stage', 'Quarter-finals', 'Round of 16', 'Second group stage', 'Semi-finals']
2017-2018 ['Group stage', 'Round of 16', 'Quarter-finals', 'Semi-finals', 'Final']
Categories (7, object): ['Final', 'First group stage', 'Group stage', 'Quarter-finals', 'Round of 16', 'Second group stage', 'Semi-finals']
2018-2019 ['Group stage', 'Round of 16', 'Quarter-finals', 'Semi-finals', 'Final']
Categories (7, object): ['Final', 'First group stage', 'Group stage', 'Quarter-finals', 'Round of 16', 'Second group stage', 'Semi-finals']
2019-2020 ['Group stage', 'Round of 16', 'Quarter-finals', 'Semi-finals', 'Final']
Categories (7, object): ['Final', 'First group stage', 'Group stage', 'Quarter-finals', 'Round of 16', 'Second group stage', 'Semi-finals']

In [96]:
# I want to change the rnd names
games.rnd.unique()

['First group stage', 'Second group stage', 'Quarter-finals', 'Semi-finals', 'Final', 'Group stage', 'Round of 16']
Categories (7, object): ['Final', 'First group stage', 'Group stage', 'Quarter-finals', 'Round of 16', 'Second group stage', 'Semi-finals']

In [97]:
games.rnd = games.rnd.map({
    'First group stage': 'first_group',
    'Second group stage': 'second_group',
    'Quarter-finals': 'quarters',
    'Semi-finals': 'semis',
    'Final': 'final',
    'Group stage': 'group',
    'Round of 16': 'r16'
})

In [98]:
# looks like the first few years where slightly different, but they still had groups and knockout rnds
# lets make sure those first few years where acutally similar. I dont have personal experience because I was too young to pay attention or watch.
rnds = {'quarters', 'semis', 'final'}
seasons = {'2000-2001', '2001-2002', '2002-2003'}
games[games.rnd.isin(rnds) & games.season.isin(seasons)]

,season,rnd,date,day,notes,wk,h_team,h_country,h_score,a_team,...,a_score,h_pens,a_pens,h_coef,a_coef,med_coef,coefdiff,goalstotal,game_winner,teams
1137,2000-2001,quarters,2001-04-03,Tue,Leg 1 of 2,0,Galatasaray,tr,3,Real Madrid,...,2,0,0,51.925,99.799,53.963,-47.874,5,Galatasaray,"Real Madrid,Galatasaray"
1138,2000-2001,quarters,2001-04-03,Tue,Leg 1 of 2,0,Manchester Utd,eng,0,Bayern Munich,...,1,0,0,89.727,103.201,53.963,-13.474,1,Bayern Munich,"Bayern Munich,Manchester Utd"
1140,2000-2001,quarters,2001-04-04,Wed,Leg 1 of 2,0,Leeds United,eng,3,La Coruña,...,0,0,0,53.963,53.963,53.963,0.000,3,Leeds United,"La Coruña,Leeds United"
1139,2000-2001,quarters,2001-04-04,Wed,Leg 1 of 2,0,Arsenal,eng,2,Valencia,...,1,0,0,52.727,69.799,53.963,-17.072,3,Arsenal,"Valencia,Arsenal"
1141,2000-2001,quarters,2001-04-17,Tue,Leg 2 of 2; Valencia won,0,Valencia,es,1,Arsenal,...,0,0,0,69.799,52.727,53.963,17.072,1,Valencia,"Valencia,Arsenal"
1142,2000-2001,quarters,2001-04-17,Tue,Leg 2 of 2; Leeds United won,0,La Coruña,es,2,Leeds United,...,0,0,0,53.963,53.963,53.963,0.000,2,La Coruña,"La Coruña,Leeds United"
1143,2000-2001,quarters,2001-04-18,Wed,Leg 2 of 2; Real Madrid won,0,Real Madrid,es,3,Galatasaray,...,0,0,0,99.799,51.925,53.963,47.874,3,Real Madrid,"Real Madrid,Galatasaray"
1144,2000-2001,quarters,2001-04-18,Wed,Leg 2 of 2; Bayern Munich won,0,Bayern Munich,de,2,Manchester Utd,...,1,0,0,103.201,89.727,53.963,13.474,3,Bayern Munich,"Bayern Munich,Manchester Utd"
1145,2000-2001,semis,2001-05-01,Tue,Leg 1 of 2,0,Real Madrid,es,0,Bayern Munich,...,1,0,0,99.799,103.201,53.963,-3.402,1,Bayern Munich,"Bayern Munich,Real Madrid"
1146,2000-2001,semis,2001-05-02,Wed,Leg 1 of 2,0,Leeds United,eng,0,Valencia,...,0,0,0,53.963,69.799,53.963,-15.836,0,tie,"Valencia,Leeds United"
1147,2000-2001,semis,2001-05-08,Tue,Leg 2 of 2; Valencia won,0,Valencia,es,3,Leeds United,...,0,0,0,69.799,53.963,53.963,15.836,3,Valencia,"Valencia,Leeds United"
1148,2000-2001,semis,2001-05-09,Wed,Leg 2 of 2; Bayern Munich won,0,Bayern Munich,de,2,Real Madrid,...,1,0,0,103.201,99.799,53.963,3.402,3,Bayern Munich,"Bayern Munich,Real Madrid"
1149,2000-2001,final,2001-05-23,Wed,Required Extra Time,0,Bayern Munich,de,1,Valencia,...,1,5,4,103.201,69.799,53.963,33.402,2,Bayern Munich,"Bayern Munich,Valencia"
1294,2001-2002,quarters,2002-04-02,Tue,Leg 1 of 2,0,Bayern Munich,de,2,Real Madrid,...,1,0,0,110.316,114.605,68.137,-4.289,3,Bayern Munich,"Real Madrid,Bayern Munich"
1295,2001-2002,quarters,2002-04-02,Tue,Leg 1 of 2,0,La Coruña,es,0,Manchester Utd,...,2,0,0,68.137,110.644,68.137,-42.507,2,Manchester Utd,"Manchester Utd,La Coruña"
1297,2001-2002,quarters,2002-04-03,Wed,Leg 1 of 2,0,Liverpool,eng,1,Leverkusen,...,0,0,0,73.644,56.316,68.137,17.328,1,Liverpool,"Liverpool,Leverkusen"
1296,2001-2002,quarters,2002-04-03,Wed,Leg 1 of 2,0,Panathinaikos,gr,1,Barcelona,...,0,0,0,37.183,108.605,68.137,-71.422,1,Panathinaikos,"Barcelona,Panathinaikos"
1298,2001-2002,quarters,2002-04-09,Tue,Leg 2 of 2; Leverkusen won,0,Leverkusen,de,4,Liverpool,...,2,0,0,56.316,73.644,68.137,-17.328,6,Leverkusen,"Liverpool,Leverkusen"
1299,2001-2002,quarters,2002-04-09,Tue,Leg 2 of 2; Barcelona won,0,Barcelona,es,3,Panathinaikos,...,1,0,0,108.605,37.183,68.137,71.422,4,Barcelona,"Barcelona,Panathinaikos"
1300,2001-2002,quarters,2002-04-10,Wed,Leg 2 of 2; Real Madrid won,0,Real Madrid,es,2,Bayern Munich,...,0,0,0,114.605,110.316,68.137,4.289,2,Real Madrid,"Real Madrid,Bayern Munich"
1301,2001-2002,quarters,2002-04-10,Wed,Leg 2 of 2; Manchester Utd won,0,Manchester Utd,eng,3,La Coruña,...,2,0,0,110.644,68.137,68.137,42.507,5,Manchester Utd,"Manchester Utd,La Coruña"
1302,2001-2002,semis,2002-04-23,Tue,Leg 1 of 2,0,Barcelona,es,0,Real Madrid,...,2,0,0,108.605,114.605,68.137,-6.000,2,Real Madrid,"Real Madrid,Barcelona"
1303,2001-2002,semis,2002-04-24,Wed,Leg 1 of 2,0,Manchester Utd,eng,2,Leverkusen,...,2,0,0,110.644,56.316,68.137,54.328,4,tie,"Manchester Utd,Leverkusen"
1304,2001-2002,semis,2002-04-30,Tue,Leg 2 of 2; Leverkusen won,0,Leverkusen,de,1,Manchester Utd,...,1,0,0,56.316,110.644,68.137,-54.328,2,tie,"Manchester Utd,Leverkusen"
1305,2001-2002,semis,2002-05-01,Wed,Leg 2 of 2; Real Madrid won,0,Real Madrid,es,1,Barcelona,...,1,0,0,114.605,108.605,68.137,6.000,2,tie,"Real Madrid,Barcelona"
1306,2001-2002,final,2002-05-15,Wed,NaN,0,Leverkusen,de,1,Real Madrid,...,2,0,0,56.316,114.605,68.137,-58.289,3,Real Madrid,"Real Madrid,Leverkusen"
1452,2002-2003,quarters,2003-04-08,Tue,Leg 1 of 2,0,Real Madrid,es,3,Manchester Utd,...,1,0,0,147.233,125.729,73.495,21.504,4,Real Madrid,"Real Madrid,Manchester Utd"
1451,2002-2003,quarters,2003-04-08,Tue,Leg 1 of 2,0,Ajax,nl,0,Milan,...,0,0,0,48.082,69.334,73.495,-21.252,0,tie,"Milan,Ajax"
1454,2002-2003,quarters,2003-04-09,Wed,Leg 1 of 2,0,Juventus,it,1,Barcelona,...,1,0,0,91.334,116.233,73.495,-24.899,2,tie,"Barcelona,Juventus"
1453,2002-2003,quarters,2003-04-09,Wed,Leg 1 of 2,0,Inter,it,1,Valencia,...,0,0,0,73.495,106.233,73.495,-32.738,1,Inter,"Valencia,Inter"
1455,2002-2003,quarters,2003-04-22,Tue,Leg 2 of 2; Juventus won; Required Extra Time,0,Barcelona,es,1,Juventus,...,2,0,0,116.233,91.334,73.495,24.899,3,Juventus,"Barcelona,Juventus"
1456,2002-2003,quarters,2003-04-22,Tue,Leg 2 of 2; Inter won,0,Valencia,es,2,Inter,...,1,0,0,106.233,73.495,73.495,32.738,3,Valencia,"Valencia,Inter"
1457,2002-2003,quarters,2003-04-23,Wed,Leg 2 of 2; Real Madrid won,0,Manchester Utd,eng,4,Real Madrid,...,3,0,0,125.729,147.233,73.495,-21.504,7,Manchester Utd,"Real Madrid,Manchester Utd"
1458,2002-2003,quarters,2003-04-23,Wed,Leg 2 of 2; Milan won,0,Milan,it,3,Ajax,...,2,0,0,69.334,48.082,73.495,21.252,5,Milan,"Milan,Ajax"
1459,2002-2003,semis,2003-05-06,Tue,Leg 1 of 2,0,Real Madrid,es,2,Juventus,...,1,0,0,147.233,91.334,73.495,55.899,3,Real Madrid,"Real Madrid,Juventus"
1460,2002-2003,semis,2003-05-07,Wed,Leg 1 of 2,0,Milan,it,0,Inter,...,0,0,0,69.334,73.495,73.495,-4.161,0,tie,"Inter,Milan"
1461,2002-2003,semis,2003-05-13,Tue,Leg 2 of 2; Milan won,0,Inter,it,1,Milan,...,1,0,0,73.495,69.334,73.495,4.161,2,tie,"Inter,Milan"
1462,2002-2003,semis,2003-05-14,Wed,Leg 2 of 2; Juventus won,0,Juventus,it,3,Real Madrid,...,1,0,0,91.334,147.233,73.495,-55.899,4,Juventus,"Real Madrid,Juventus"
1463,2002-2003,final,2003-05-28,Wed,Milan won on penalty kicks following extra time,0,Juventus,it,0,Milan,...,0,2,3,91.334,69.334,73.495,22.000,0,Milan,"Juventus,Milan"

In [99]:
# looks like how i expected, knockout rnds are quarterfinals and semifinals. finals is only one game and will be checked for other luck.

In [100]:
games.rnd.unique()

['first_group', 'second_group', 'quarters', 'semis', 'final', 'group', 'r16']
Categories (7, object): ['final', 'first_group', 'group', 'quarters', 'r16', 'second_group', 'semis']

In [101]:
# Now let's separate the dfs into rnds - groups, knockouts, finals
k_rnds = {'r16', 'quarters', 'semis'}
groups = games[games.rnd.str.contains('[gG]roup', regex=True)]
finals = games[games.rnd == 'final']
knockout = games[games.rnd.isin(k_rnds)]
knockout

,season,rnd,date,day,notes,wk,h_team,h_country,h_score,a_team,...,a_score,h_pens,a_pens,h_coef,a_coef,med_coef,coefdiff,goalstotal,game_winner,teams
1137,2000-2001,quarters,2001-04-03,Tue,Leg 1 of 2,0,Galatasaray,tr,3,Real Madrid,...,2,0,0,51.925,99.799,53.963,-47.874,5,Galatasaray,"Real Madrid,Galatasaray"
1138,2000-2001,quarters,2001-04-03,Tue,Leg 1 of 2,0,Manchester Utd,eng,0,Bayern Munich,...,1,0,0,89.727,103.201,53.963,-13.474,1,Bayern Munich,"Bayern Munich,Manchester Utd"
1140,2000-2001,quarters,2001-04-04,Wed,Leg 1 of 2,0,Leeds United,eng,3,La Coruña,...,0,0,0,53.963,53.963,53.963,0.000,3,Leeds United,"La Coruña,Leeds United"
1139,2000-2001,quarters,2001-04-04,Wed,Leg 1 of 2,0,Arsenal,eng,2,Valencia,...,1,0,0,52.727,69.799,53.963,-17.072,3,Arsenal,"Valencia,Arsenal"
1141,2000-2001,quarters,2001-04-17,Tue,Leg 2 of 2; Valencia won,0,Valencia,es,1,Arsenal,...,0,0,0,69.799,52.727,53.963,17.072,1,Valencia,"Valencia,Arsenal"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3577,2019-2020,quarters,2020-08-13,Thu,NaN,0,RB Leipzig,de,2,Atlético Madrid,...,1,0,0,76.500,127.000,76.500,-50.500,3,RB Leipzig,"Atlético Madrid,RB Leipzig"
3578,2019-2020,quarters,2020-08-14,Fri,NaN,0,Barcelona,es,2,Bayern Munich,...,8,0,0,138.000,128.000,76.500,10.000,10,Bayern Munich,"Barcelona,Bayern Munich"
3579,2019-2020,quarters,2020-08-15,Sat,NaN,0,Manchester City,eng,1,Lyon,...,3,0,0,106.000,61.500,76.500,44.500,4,Lyon,"Manchester City,Lyon"
3580,2019-2020,semis,2020-08-18,Tue,NaN,0,RB Leipzig,de,0,Paris S-G,...,3,0,0,76.500,103.000,76.500,-26.500,3,Paris S-G,"Paris S-G,RB Leipzig"
3581,2019-2020,semis,2020-08-19,Wed,NaN,0,Lyon,fr,0,Bayern Munich,...,3,0,0,61.500,128.000,76.500,-66.500,3,Bayern Munich,"Bayern Munich,Lyon"

In [102]:
# now i need to split the kockout rnds into matchups
matchup_grouped = knockout.groupby(['season', 'rnd', 'teams'])

In [103]:
knockout[knockout.h_pens > 0].head()

,season,rnd,date,day,notes,wk,h_team,h_country,h_score,a_team,...,a_score,h_pens,a_pens,h_coef,a_coef,med_coef,coefdiff,goalstotal,game_winner,teams
1707,2004-2005,quarters,2005-04-13,Wed,Leg 2 of 2; PSV Eindhoven won on penalty kicks...,0,PSV Eindhoven,nl,1,Lyon,...,1,4,2,65.247,70.947,67.511,-5.700,2,tie,"Lyon,PSV Eindhoven"
1961,2006-2007,semis,2007-05-01,Tue,Leg 2 of 2; Liverpool won on penalty kicks fol...,0,Liverpool,eng,1,Chelsea,...,0,4,1,105.950,79.950,79.950,26.000,1,Liverpool,"Liverpool,Chelsea"
2071,2007-2008,r16,2008-03-04,Tue,Leg 2 of 2; Fenerbahçe won on penalty kicks fo...,0,Sevilla,es,3,Fenerbahçe,...,2,2,3,87.374,36.791,78.808,50.583,5,Sevilla,"Sevilla,Fenerbahçe"
2073,2007-2008,r16,2008-03-05,Wed,Leg 2 of 2; Schalke 04 won on penalty kicks fo...,0,Porto,pt,1,Schalke 04,...,0,1,4,89.107,60.640,78.808,28.467,1,Porto,"Porto,Schalke 04"
2199,2008-2009,r16,2009-03-11,Wed,Leg 2 of 2; Arsenal won on penalty kicks follo...,0,Roma,it,1,Arsenal,...,0,6,7,81.934,110.996,81.934,-29.062,1,Roma,"Arsenal,Roma"

In [104]:
matchups_dict = {}
for idx, i in matchup_grouped:
    matchups_dict[idx] = i

In [105]:

test = matchups_dict[('2011-2012', 'r16', 'Lyon,APOEL FC')]
test

,season,rnd,date,day,notes,wk,h_team,h_country,h_score,a_team,...,a_score,h_pens,a_pens,h_coef,a_coef,med_coef,coefdiff,goalstotal,game_winner,teams
2561,2011-2012,r16,2012-02-14,Tue,Leg 1 of 2,0,Lyon,fr,1,APOEL FC,...,0,0,0,92.735,13.124,81.319,79.611,1,Lyon,"Lyon,APOEL FC"
2570,2011-2012,r16,2012-03-07,Wed,Leg 2 of 2; APOEL FC won on penalty kicks foll...,0,APOEL FC,cy,1,Lyon,...,0,4,3,13.124,92.735,81.319,-79.611,1,APOEL FC,"Lyon,APOEL FC"

In [106]:
# I already forgot. Because of the pandemic there was only on game played in the quarter and semi finals for year 2019-2000
# I suppose the best way is to note them and exclude them from the away goal luck part
for k in matchups_dict:
    if len(matchups_dict[k]) == 1:
        print(k)
# removing 1 game knockouts
for k in list(matchups_dict.keys()):
    if len(matchups_dict[k]) == 1:
        del matchups_dict[k]

('2019-2020', 'quarters', 'Atlético Madrid,RB Leipzig')
('2019-2020', 'quarters', 'Barcelona,Bayern Munich')
('2019-2020', 'quarters', 'Manchester City,Lyon')
('2019-2020', 'quarters', 'Paris S-G,Atalanta')
('2019-2020', 'semis', 'Bayern Munich,Lyon')
('2019-2020', 'semis', 'Paris S-G,RB Leipzig')

In [107]:
test

,season,rnd,date,day,notes,wk,h_team,h_country,h_score,a_team,...,a_score,h_pens,a_pens,h_coef,a_coef,med_coef,coefdiff,goalstotal,game_winner,teams
2561,2011-2012,r16,2012-02-14,Tue,Leg 1 of 2,0,Lyon,fr,1,APOEL FC,...,0,0,0,92.735,13.124,81.319,79.611,1,Lyon,"Lyon,APOEL FC"
2570,2011-2012,r16,2012-03-07,Wed,Leg 2 of 2; APOEL FC won on penalty kicks foll...,0,APOEL FC,cy,1,Lyon,...,0,4,3,13.124,92.735,81.319,-79.611,1,APOEL FC,"Lyon,APOEL FC"

In [108]:
test.iloc[[0]].merge(test.iloc[[1]], on=['season', 'rnd', 'teams'], suffixes=['_g1', '_g2']).T

                                                                0
season                                                  2011-2012
rnd                                                           r16
date_g1                                       2012-02-14 00:00:00
day_g1                                                        Tue
notes_g1                                               Leg 1 of 2
wk_g1                                                           0
h_team_g1                                                    Lyon
h_country_g1                                                   fr
h_score_g1                                                      1
a_team_g1                                                APOEL FC
a_country_g1                                                   cy
a_score_g1                                                      0
h_pens_g1                                                       0
a_pens_g1                                                       0
h_coef_g1                                                  92.735
a_coef_g1                                                  13.124
med_coef_g1                                                81.319
coefdiff_g1                                                79.611
goalstotal_g1                                                   1
game_winner_g1                                               Lyon
teams                                               Lyon,APOEL FC
date_g2                                       2012-03-07 00:00:00
day_g2                                                        Wed
notes_g2        Leg 2 of 2; APOEL FC won on penalty kicks foll...
wk_g2                                                           0
h_team_g2                                                APOEL FC
h_country_g2                                                   cy
h_score_g2                                                      1
a_team_g2                                                    Lyon
a_country_g2                                                   fr
a_score_g2                                                      0
h_pens_g2                                                       4
a_pens_g2                                                       3
h_coef_g2                                                  13.124
a_coef_g2                                                  92.735
med_coef_g2                                                81.319
coefdiff_g2                                               -79.611
goalstotal_g2                                                   1
game_winner_g2                                           APOEL FC

In [109]:
matchups = pd.DataFrame()
for k, v in matchups_dict.items():
    game1 = v.iloc[[0]]
    game2 = v.iloc[[1]]
    m = game1.merge(game2, on=['season', 'rnd', 'teams'], suffixes=['_g1', '_g2'])
    matchups = matchups.append(m)

In [110]:
matchups.head()

,season,rnd,date_g1,day_g1,notes_g1,wk_g1,h_team_g1,h_country_g1,h_score_g1,a_team_g1,...,a_country_g2,a_score_g2,h_pens_g2,a_pens_g2,h_coef_g2,a_coef_g2,med_coef_g2,coefdiff_g2,goalstotal_g2,game_winner_g2
0,2000-2001,quarters,2001-04-03,Tue,Leg 1 of 2,0,Manchester Utd,eng,0,Bayern Munich,...,eng,1,0,0,103.201,89.727,53.963,13.474,3,Bayern Munich
0,2000-2001,quarters,2001-04-04,Wed,Leg 1 of 2,0,Leeds United,eng,3,La Coruña,...,eng,0,0,0,53.963,53.963,53.963,0.000,2,La Coruña
0,2000-2001,quarters,2001-04-03,Tue,Leg 1 of 2,0,Galatasaray,tr,3,Real Madrid,...,tr,0,0,0,99.799,51.925,53.963,47.874,3,Real Madrid
0,2000-2001,quarters,2001-04-04,Wed,Leg 1 of 2,0,Arsenal,eng,2,Valencia,...,eng,0,0,0,69.799,52.727,53.963,17.072,1,Valencia
0,2000-2001,semis,2001-05-01,Tue,Leg 1 of 2,0,Real Madrid,es,0,Bayern Munich,...,es,1,0,0,103.201,99.799,53.963,3.402,3,Bayern Munich

In [111]:
matchups.columns

Index(['season', 'rnd', 'date_g1', 'day_g1', 'notes_g1', 'wk_g1', 'h_team_g1',
       'h_country_g1', 'h_score_g1', 'a_team_g1', 'a_country_g1', 'a_score_g1',
       'h_pens_g1', 'a_pens_g1', 'h_coef_g1', 'a_coef_g1', 'med_coef_g1',
       'coefdiff_g1', 'goalstotal_g1', 'game_winner_g1', 'teams', 'date_g2',
       'day_g2', 'notes_g2', 'wk_g2', 'h_team_g2', 'h_country_g2',
       'h_score_g2', 'a_team_g2', 'a_country_g2', 'a_score_g2', 'h_pens_g2',
       'a_pens_g2', 'h_coef_g2', 'a_coef_g2', 'med_coef_g2', 'coefdiff_g2',
       'goalstotal_g2', 'game_winner_g2'],
      dtype='object')

In [112]:
# I want to add the winner and total goals for each team
# team1 is the home team of the first game
matchups['team1_total'] = matchups.h_score_g1 + matchups.a_score_g2
matchups['team2_total'] = matchups.a_score_g1 + matchups.h_score_g2

In [113]:
# add total goals in a matchup
matchups['total_goals'] = matchups.team1_total + matchups.team2_total

In [114]:
# add the win condition
conds = [
    (matchups['team1_total'] > matchups['team2_total']) | (matchups['team1_total'] < matchups['team2_total']),
    (matchups['team1_total'] == matchups['team2_total']) & (matchups.h_pens_g2 > 0),
    (matchups['team1_total'] == matchups['team2_total']) & (matchups.a_score_g1 - matchups.a_score_g2 != 0)
]

vals = [
    'total',
    'pens',
    'away'
]

matchups['win_cond'] = np.select(conds, vals)

In [115]:
matchups

,season,rnd,date_g1,day_g1,notes_g1,wk_g1,h_team_g1,h_country_g1,h_score_g1,a_team_g1,...,h_coef_g2,a_coef_g2,med_coef_g2,coefdiff_g2,goalstotal_g2,game_winner_g2,team1_total,team2_total,total_goals,win_cond
0,2000-2001,quarters,2001-04-03,Tue,Leg 1 of 2,0,Manchester Utd,eng,0,Bayern Munich,...,103.201,89.727,53.963,13.474,3,Bayern Munich,1,3,4,total
0,2000-2001,quarters,2001-04-04,Wed,Leg 1 of 2,0,Leeds United,eng,3,La Coruña,...,53.963,53.963,53.963,0.000,2,La Coruña,3,2,5,total
0,2000-2001,quarters,2001-04-03,Tue,Leg 1 of 2,0,Galatasaray,tr,3,Real Madrid,...,99.799,51.925,53.963,47.874,3,Real Madrid,3,5,8,total
0,2000-2001,quarters,2001-04-04,Wed,Leg 1 of 2,0,Arsenal,eng,2,Valencia,...,69.799,52.727,53.963,17.072,1,Valencia,2,2,4,away
0,2000-2001,semis,2001-05-01,Tue,Leg 1 of 2,0,Real Madrid,es,0,Bayern Munich,...,103.201,99.799,53.963,3.402,3,Bayern Munich,1,3,4,total
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
0,2019-2020,r16,2020-02-25,Tue,Leg 1 of 2,0,Chelsea,eng,0,Bayern Munich,...,128.000,87.000,76.500,41.000,5,Bayern Munich,1,7,8,total
0,2019-2020,r16,2020-02-26,Wed,Leg 1 of 2,0,Lyon,fr,1,Juventus,...,124.000,61.500,76.500,62.500,3,Juventus,2,2,4,away
0,2019-2020,r16,2020-02-18,Tue,Leg 1 of 2,0,Dortmund,de,2,Paris S-G,...,103.000,85.000,76.500,18.000,2,Paris S-G,2,3,5,total
0,2019-2020,r16,2020-02-26,Wed,Leg 1 of 2,0,Real Madrid,es,1,Manchester City,...,106.000,146.000,76.500,-40.000,3,Manchester City,2,4,6,total
0,2019-2020,r16,2020-02-19,Wed,Leg 1 of 2,0,Tottenham,eng,0,RB Leipzig,...,76.500,78.000,76.500,-1.500,3,RB Leipzig,0,4,4,total

In [116]:
# add the winner and loser
conds = [
    (matchups['team1_total'] > matchups['team2_total']), 
    (matchups['team1_total'] < matchups['team2_total']),
    ((matchups['team1_total'] == matchups['team2_total']) & (matchups.a_score_g1 < matchups.a_score_g2)),
    ((matchups['team1_total'] == matchups['team2_total']) & (matchups.a_score_g1 > matchups.a_score_g2)),
    ((matchups['team1_total'] == matchups['team2_total']) & (matchups.h_pens_g2 < matchups.a_pens_g2)),
    ((matchups['team1_total'] == matchups['team2_total']) & (matchups.h_pens_g2 > matchups.a_pens_g2))

]

vals = [
    matchups.h_team_g1,
    matchups.a_team_g1,
    matchups.h_team_g1,
    matchups.a_team_g1,
    matchups.h_team_g1,
    matchups.a_team_g1
]

vals_loser = [
    matchups.a_team_g1,
    matchups.h_team_g1,
    matchups.a_team_g1,
    matchups.h_team_g1,
    matchups.a_team_g1,
    matchups.h_team_g1
]

matchups['winner'] = np.select(conds, vals)
matchups['loser'] = np.select(conds, vals_loser)

In [117]:
matchups[matchups['win_cond'] == 'pens'].T

,0,0,0,0,0,0,0,0,0
season,2004-2005,2006-2007,2007-2008,2007-2008,2008-2009,2011-2012,2011-2012,2014-2015,2015-2016
rnd,quarters,semis,r16,r16,r16,r16,semis,r16,r16
date_g1,2005-04-05 00:00:00,2007-04-25 00:00:00,2008-02-19 00:00:00,2008-02-20 00:00:00,2009-02-24 00:00:00,2012-02-14 00:00:00,2012-04-17 00:00:00,2015-02-25 00:00:00,2016-02-24 00:00:00
day_g1,Tue,Wed,Tue,Wed,Tue,Tue,Tue,Wed,Wed
notes_g1,Leg 1 of 2,Leg 1 of 2,Leg 1 of 2,Leg 1 of 2,Leg 1 of 2,Leg 1 of 2,Leg 1 of 2,Leg 1 of 2,Leg 1 of 2
wk_g1,0,0,0,0,0,0,0,0,0
h_team_g1,Lyon,Chelsea,Schalke 04,Fenerbahçe,Arsenal,Lyon,Bayern Munich,Leverkusen,PSV Eindhoven
h_country_g1,fr,eng,de,tr,eng,fr,de,de,nl
h_score_g1,1,1,1,3,1,1,2,1,0
a_team_g1,PSV Eindhoven,Liverpool,Porto,Sevilla,Roma,APOEL FC,Real Madrid,Atlético Madrid,Atlético Madrid
a_country_g1,nl,eng,pt,es,it,cy,es,es,es
a_score_g1,1,0,0,2,0,0,1,0,0
h_pens_g1,0,0,0,0,0,0,0,0,0
a_pens_g1,0,0,0,0,0,0,0,0,0
h_coef_g1,70.947,79.95,60.64,36.791,110.996,92.735,118.887,70.328,58.195
a_coef_g1,65.247,105.95,89.107,87.374,81.934,13.124,103.465,119.542,120.999
med_coef_g1,67.511,79.95,78.808,78.808,81.934,81.319,81.319,80.3435,95.102
coefdiff_g1,5.7,-26.0,-28.467,-50.583,29.062,79.611,15.422,-49.214,-62.804
goalstotal_g1,2,1,1,5,1,1,3,1,0
game_winner_g1,tie,Chelsea,Schalke 04,Fenerbahçe,Arsenal,Lyon,Bayern Munich,Leverkusen,tie
teams,"Lyon,PSV Eindhoven","Liverpool,Chelsea","Porto,Schalke 04","Sevilla,Fenerbahçe","Arsenal,Roma","Lyon,APOEL FC","Bayern Munich,Real Madrid","Atlético Madrid,Leverkusen","Atlético Madrid,PSV Eindhoven"
date_g2,2005-04-13 00:00:00,2007-05-01 00:00:00,2008-03-05 00:00:00,2008-03-04 00:00:00,2009-03-11 00:00:00,2012-03-07 00:00:00,2012-04-25 00:00:00,2015-03-17 00:00:00,2016-03-15 00:00:00
day_g2,Wed,Tue,Wed,Tue,Wed,Wed,Wed,Tue,Tue
notes_g2,Leg 2 of 2; PSV Eindhoven won on penalty kicks...,Leg 2 of 2; Liverpool won on penalty kicks fol...,Leg 2 of 2; Schalke 04 won on penalty kicks fo...,Leg 2 of 2; Fenerbahçe won on penalty kicks fo...,Leg 2 of 2; Arsenal won on penalty kicks follo...,Leg 2 of 2; APOEL FC won on penalty kicks foll...,Leg 2 of 2; Bayern Munich won on penalty kicks...,Leg 2 of 2; Atlético Madrid won on penalty kic...,Leg 2 of 2; Atlético Madrid won on penalty kic...
wk_g2,0,0,0,0,0,0,0,0,0
h_team_g2,PSV Eindhoven,Liverpool,Porto,Sevilla,Roma,APOEL FC,Real Madrid,Atlético Madrid,Atlético Madrid
h_country_g2,nl,eng,pt,es,it,cy,es,es,es
h_score_g2,1,1,1,3,1,1,2,1,0
a_team_g2,Lyon,Chelsea,Schalke 04,Fenerbahçe,Arsenal,Lyon,Bayern Munich,Leverkusen,PSV Eindhoven
a_country_g2,fr,eng,de,tr,eng,fr,de,de,nl
a_score_g2,1,0,0,2,0,0,1,0,0
h_pens_g2,4,4,1,2,6,4,1,3,8
a_pens_g2,2,1,4,3,7,3,3,2,7
h_coef_g2,65.247,105.95,89.107,87.374,81.934,13.124,103.465,119.542,120.999
a_coef_g2,70.947,79.95,60.64,36.791,110.996,92.735,118.887,70.328,58.195
med_coef_g2,67.511,79.95,78.808,78.808,81.934,81.319,81.319,80.3435,95.102
coefdiff_g2,-5.7,26.0,28.467,50.583,-29.062,-79.611,-15.422,49.214,62.804
goalstotal_g2,2,1,1,5,1,1,3,1,0
game_winner_g2,tie,Liverpool,Porto,Sevilla,Roma,APOEL FC,Real Madrid,Atlético Madrid,tie
team1_total,2,1,1,5,1,1,3,1,0
team2_total,2,1,1,5,1,1,3,1,0
total_goals,4,2,2,10,2,2,6,2,0
win_cond,pens,pens,pens,pens,pens,pens,pens,pens,pens
winner,PSV Eindhoven,Liverpool,Schalke 04,Fenerbahçe,Arsenal,APOEL FC,Bayern Munich,Atlético Madrid,Atlético Madrid
loser,Lyon,Chelsea,Porto,Sevilla,Roma,Lyon,Real Madrid,Leverkusen,PSV Eindhoven

In [118]:
games[(games.rnd == 'final') & (games.game_winner == 'tie')].T

Empty DataFrame
Columns: []
Index: [season, rnd, date, day, notes, wk, h_team, h_country, h_score, a_team, a_country, a_score, h_pens, a_pens, h_coef, a_coef, med_coef, coefdiff, goalstotal, game_winner, teams]

In [119]:
# for some reason loko moscow has duplicates, so I will get rid of them
games[games[['date', 'h_team']].duplicated()].head()

,season,rnd,date,day,notes,wk,h_team,h_country,h_score,a_team,...,a_score,h_pens,a_pens,h_coef,a_coef,med_coef,coefdiff,goalstotal,game_winner,teams
1154,2001-2002,first_group,2001-09-11,Tue,NaN,1,Loko Moscow,ru,1,Anderlecht,...,1,0,0,18.854,43.075,68.137,-24.221,2,tie,"Anderlecht,Loko Moscow"
1167,2001-2002,first_group,2001-09-19,Wed,NaN,2,Real Madrid,es,4,Loko Moscow,...,0,0,0,114.605,18.854,68.137,95.751,4,Real Madrid,"Real Madrid,Loko Moscow"
1188,2001-2002,first_group,2001-09-26,Wed,NaN,3,Roma,it,2,Loko Moscow,...,1,0,0,68.119,18.854,68.137,49.265,3,Roma,"Roma,Loko Moscow"
1200,2001-2002,first_group,2001-10-16,Tue,NaN,4,Loko Moscow,ru,0,Roma,...,1,0,0,18.854,68.119,68.137,-49.265,1,Roma,"Roma,Loko Moscow"
1222,2001-2002,first_group,2001-10-24,Wed,NaN,5,Anderlecht,be,1,Loko Moscow,...,5,0,0,43.075,18.854,68.137,24.221,6,Loko Moscow,"Anderlecht,Loko Moscow"

In [120]:
games.drop_duplicates(subset=['date', 'h_team'], inplace=True)

In [121]:
games[games[['date', 'h_team']].duplicated()]

Empty DataFrame
Columns: [season, rnd, date, day, notes, wk, h_team, h_country, h_score, a_team, a_country, a_score, h_pens, a_pens, h_coef, a_coef, med_coef, coefdiff, goalstotal, game_winner, teams]
Index: []

[0 rows x 21 columns]

In [122]:
# save games
games.to_csv(PATH + '/data/processed/games.csv')

In [123]:
# save matchups
matchups.to_csv(PATH + '/data/processed/matchups.csv')